<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<!-- <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?"> -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=zX7B5meNyk">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=zX7B5meNyk">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=zX7B5meNyk">
<link rel="manifest" href="/site.webmanifest?v=zX7B5meNyk">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=zX7B5meNyk" color="#11457e">
<link rel="shortcut icon" href="/favicon.ico?v=zX7B5meNyk">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">


<!-- end custom head snippets -->